@import url('https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #000000;
    color: #fff;
    font-family: 'Cascadia Mono', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: url('logo.png') 0 0, auto;
}

.terminal {
    display: flex;
    flex-direction: column;
    justify-content: left;
    height: 50vh;
    width: 50vw;     
    margin: auto;
    border: 3px solid;
    border-radius: 5px;
    padding: 20px;
    font-size: 12px;
}

.terminal h3, .terminal p {
    margin: 0;
    font-size: 24px;
}

.terminal p {
        font-size: 14px;
}

.command-line {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 14px;
}

.copyright {
    color: white;
    font-family: 'Noto Sans', sans-serif;
}

.cmdinput {
    background-color:#000000;
    border: none;
    outline: none;
    color: orange;
    font-family: 'Cascadia Mono', sans-serif;
    font-size: 14px;
  flex: 1;
  min-width: 0;
}

.blink {
  font-weight: bold;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.hidden {
  display: none;
}

.submit {
    display: none;
}

.output {
    white-space: normal;
    overflow-wrap: anywhere;
    margin: 0;
    letter-spacing: .05em;
}

.output-cursor {
    animation: blink-cursor .75s step-end infinite;
}

@keyframes blink-cursor {
    50% { opacity: 0; }
}

